/* ========== RIGHT SIDE: Text Content Section ========== */

.learn {
    margin: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    padding: 5px;
    color: #333;
  
  }
  
  .container_learn {
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  /* Heading */
  #h1 {
    text-align: center;
    color: #f58220;
    font-weight: 900;
    padding: 1%;
    font-size: 50px;
    font-family: 'Comic Sans MS', cursive;

  }
  
  /* Content Blocks */
  .block_learn {
    background: rgb(248, 180, 248);
    margin: 30px 20px;
    border-radius: 15px;
    
    padding-left: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    
  }
 
  .block_learn:nth-child(2) {
    background: rgb(163, 241, 163);
  }
  
  .block_learn:nth-child(3) {
    background: rgb(165, 225, 247);
  }
  
  .icons {
    font-size: 2rem;
    color: #212121;
    flex-shrink: 0;
  }
  
  #h2 {
    font-size: 1.5rem;
    color: #212121;
    margin-bottom: 0px;
  }
  
  #p {
    font-size: 1rem;
    line-height: 1.6;
    color: #0f0f0f;
  }
  
  
  @media (max-width: 800px){
    #h1 {
      font-size: 40px;
    }
  }
  @media (max-width: 500px){
    #h1 {
      font-size: 30px;
    }
  }