

  .hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    min-height: 100vh;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  
  .animated-text {
    font-size: 66px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin-top: 70px;
    font-family: 'Arial Black', sans-serif;
    max-width: 100%;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .word-span {
    display: inline-block;
    margin-right: 0.2rem;
  }
  
  .letter-span {
    display: inline-block;
  }
  
  .highlight {
    color: #ff6b1a;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* stack content to left */
    justify-content: flex-start;
  }
  
  .right {
    flex: 1; /* optional */
  }
  
  .subtext-container {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.8;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 2rem;
    display: flex;
    padding-left: 60px;
    /* padding-right: 20px; */
    flex-wrap: wrap;
    max-width: 100%;
    text-align: left;
  }
  

@media screen and (max-width: 1300px) and (max-height: 850px) {
    .animated-text {
      font-size: 56px;
      padding: 0;
      padding-left: 60px;
      justify-content: left;
    }
  
    .subtext-container {
      font-size: 20px;
      padding: 0;
      padding-left: 60px;
      justify-content: left;
    }
  }
@media (max-width: 1150px) {

    .hero-section {
        flex-direction: column; /* stack left and right */
        justify-content: center;
        align-items: center;
      }
    .animated-text {
        font-size: 44px;
        justify-content: center;
        padding: 0px;
    }
    .subtext-container {
        font-size: 22px;
        justify-content: center;
        padding: 0px;
    }
  }


    
@media (max-width: 480px) {

    .hero-section {
        flex-direction: column; /* stack left and right */
        justify-content: center;
        align-items: center;
      }
    .animated-text {
        font-size: 17px;
        /* justify-content: center; */
        padding: 0px;
        
    }
    .subtext-container {
       
        font-size: 10px;
        font-weight: bold;
        justify-content: center;
        padding: 0px;
    }
  }

